{% extends "base.html" %}
{% block start %}
<div class="form-container">
<form class="col-6 mx-auto card p-3 shadow-lg" method="post">
  {% csrf_token %}
  <h2>Add People</h2>
  <hr>
    <div class="container mt-5">
    <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input name="name" required type="text" class="form-control" >
    </div>
    <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Age</label>
    <input name="age" type="number" class="form-control">
    </div>
    <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Address</label>
    <input name="address" type="text" class="form-control">
    </div>
    <button type="submit" class="block-button">Add People</button>
</form>
</div>
{% endblock %}