{% extends "base.html" %}
{% load static %}
{% block start %}
<h1 align="center">Contact US</h1>
<hr>
    <div align="center">
      <img src="{% static 'profile.jpg' %}" height="300" width="300" alt="venky.com">
      <h2><b>Mr.Vyankatesh Alane</b></h2>
      <p><b>Email: <a href="https://mail.google.com/vyankateshalane@gmail.com">vyankateshalane@gmail.com</a></b></p>
      <p><b>Facebook: <a href="https://www.facebook.com/venkyalane">Venky Alane</a></b></p>
      <p><b>Twitter: <a href="https://twitter.com/AlaneVyankatesh">Venky Alane</a></b></p>
    </div>

{% endblock %}