{% extends "base.html" %}
{% load static %}
{% block start %}
<div class="flex-container">
    <div align="center">
        <h2>Tujhe Meri Kasam (2003) 1080p 720p 480p HQ HDTC x264</h2>
        <img src="{% static 'tmk.jpg' %}" height="400" width="300" alt="AVS.com"></br>
        <button type="button" class="btn btn-success">
            <a href = "https://venkyalane1.pythonanywhere.com/tuje-meri-kasam/", target="_blank"><b>Watch Online</b></a>
        </button>
    </div>
    <div align="center">
        <h2>Spaceman (2024) NF 1080p 720p 480p WEB-DL x264</h2>
        <img src="{% static 'spaceman.jpg' %}" height="400" width="300" alt="AVS.com"></br>
        <button type="button" class="btn btn-success">
            <a href = "https://asnwish.com/e/i6sfh6x7qqso", target="_blank"><b>Watch Online</b></a>
        </button>
    </div>
    <div align="center">
        <h2>Tumbbad (2018) 1080p 720p 480p WEB-DL x264</h2>
        <img src="{% static 'tumbad.jpg' %}" height="400" width="300" alt="AVS.com"></br>
        <button type="button" class="btn btn-success">
            <a href = "https://watch-online2.top/e/io88ka4cicm5", target="_blank"><b>Watch Online</b></a>
        </button>
    </div>
</div>
{% endblock %}