{% extends "base.html" %}
{% block start %}
<div class="form-container">
<form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <h2>Update Receipe</h2>
  <hr>
    <div class="container mt-5">
    <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Receipe name</label>
    <input name="recipi_name" value="{{data.recipi_name}}" required type="text" class="form-control" >
    </div>
    <br>
    <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Receipe Description</label>
    <textarea class="form-control" value="" name="recipi_desc" required>{{data.recipi_desc}}</textarea>
    </div>
    <br>
    <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Receipe Image</label>
    <input name="recipi_img" type="file" class="form-control" >
    </div>
    <br>
    <button type="submit" class="block-button">Update Recipe</button>
</form>
</div>
{% endblock %}